h1{
	background-color: #5b0083;
	font-weight: bold;
	text-align: center;
	color: white;
}

.ikonespanw {
	height: 45vh;
	 width: 100%;
}

.mov{
	background-color: #5b0083;
}

.ikona1{
	height: 100%;
}

.p1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	color: white;
}
.ikona2{
	
}
.ikona3{
	width: 90%;
}
.ikona4{
	width: 110%;
}

.align {
	text-align: center;
}

.flexbox{
	display: flex;
	align-items: center;
	justify-items: center;
}
.row{
	padding-top: 2em;
	padding-bottom: 2em;
}
.whitetext{
	color:white;
}